<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/gruvbox-dark.css">
        <link rel="stylesheet" href="/css/hack.css">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <body class="gruvbox-dark hack">
    <div class="container">
      <h1>{{ page.title }}</h2>
      {{ page.content }}
    </div>
  </body>
</html>
